:root {
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-black: rgba(0, 0, 0, 0.5);
    --black: #000000;
    --navy-blue: #1c2e4a;
    --air-force: #588bae;
    --steel: #468284;
    --fern: #5DBB63;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.main-container {
    max-width: 100%;
    background-image: url("/Images/fu971t7kv1x51.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}

.main-container header {
    position: relative;
    top: 11vh;
    padding: 5vh; 
    text-align: center;
    font-size: 2.5vh;
    background-color: var(--navy-blue);
}

.blog-container {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    grid-template-rows: 15vh 1fr 1fr 15vh;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
}
.button-container{
    padding: 2vh 0 2.5vh 2.4vw;
}
.blog-button {
    padding: 2vh 5vw 2vh 5vw;
    background-color: var(--fern);
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}
.blog-button:hover {
    background-color: var(--air-force);
}

.blog-container section h1, p {
    padding: 0 2vw 1vh 2.5vw;
}
.blog-container section img {
    max-width: 90%;
    height: auto;
    padding: 3vh 0 2vh 2.5vw;
}

.blog {
    background-color: var(--transparent-black);
    border-radius: 1vh;
}
.blog:hover {
    background-color: var(--navy-blue);
}

.blog:first-child {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.blog:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.blog:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.blog:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-content: center;
}
.blog:nth-child(5) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}
.blog:last-child {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}