:root {
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-black: rgba(0, 0, 0, 0.5);
    --black: #000000;
    --navy-blue: #1c2e4a;
    --air-force: #588bae;
    --steel: #468284;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}


body {
    /*background: url('/Images/893489-cool-shapes-wallpapers-3420x2138-samsung.jpg') no-repeat center;*/
    background: white;
    color: white;
    line-height: 1.6;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 1.25vw;
    padding: 29px 30px 23px 30px;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 60px;
    left: -600px;           
    opacity: 0;
    width: 600px;
    background-color:var(--transparent-black);
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}
button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: white;
    color: black;
}


.slide:first-child {
    background: url('./Images/IMG_6610_Original.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('./Images/IMG_4578_Original.jpg') no-repeat center top/cover;
}
.slide:nth-child(3) {
    background: url('./Images/IMG_5981_Original.jpg') no-repeat center top/cover;
}
.slide:nth-child(4) {
    background: url('./Images/IMG_6724_Original.jpg') no-repeat center top/cover;
}
.slide:nth-child(5) {
    background: url('./Images/7529109584_IMG_5717_Original.jpg') no-repeat center top/cover;
}
.slide:nth-child(6) {
    background: url('./Images/IMG_9227_Original.jpg') no-repeat center top/cover;
}


.gallery-container h1 {
    text-align: center;
    font-size: 2em;
    padding: 2vh;
    background-color: var(--navy-blue);
}

.gallery {
    margin-top: 7.5vh;
    margin-left: 7.5vw;
}
.gallery img {
    width: 400px;
    padding: 25px;
    border-radius: 2vw;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.bot-text {
    padding: 5vh 0 10vh;
    text-align: center;
}
.bot-text h2 {
    color: black;
}

@media only screen and (max-width: 1300px) {
    .gallery {
        margin-left: 18vw;
    }
}
@media only screen and (max-width: 1100px) {
    .gallery {
        margin-left: 12vw;
    }
}
@media only screen and (max-width: 1000px) {
    .gallery {
        margin-left: 28vw;
    }
}

@media only screen and (max-width: 760px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }

    .gallery {
        margin-top: 7.5vh;
        margin-left: 15vw;
    }

    .gallery img {
        width: 400px;
    }
}